<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/estadisticas.css' %}" />
    <style>
        /* Estilos para el fondo negro y texto blanco */
        body {
            background-color: black;
            color: white;
            margin: 0; /* Eliminar márgenes predeterminados del cuerpo */
        }

        /* Centrar contenido en la página */
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 77vh; /* Altura total de la ventana gráfica */
            padding-left: 25px;
            padding-right: 25px;
        }

        /* Estilos para los gráficos */
        .chart {
            margin: 20px;
            width: 800px;
            height: 500px; /* Margen para separar los gráficos */
            background-color: black !important; /* Fondo negro (important para anular estilos de Google Charts) */
            color: white !important; 
        }
    </style>
</head>
<body>
    <header>
        <div class="logo">
        <img src="{% static 'images/SEL4C.png' %}" alt="Logo del Sitio">
        <h1>SEL4C</h1>
        </div>
        <div class="buttons">
        <a href="{% url 'index' %}" class="btn">INICIO</a>
        <a href="{% url 'estadisticas' %}" class="btn">ESTADISTICAS</a>
        <a href="{% url 'usuarios' %}" class="btn">ADMINISTRACION</a>
        </div>
        <div class="login-btn">
        <a href="{% url 'logout' %}" class="btn">CERRAR SESION</a>
        </div>
    </header>

    <div class="container">
        <div class="chart" id="columnchart_material1"></div>
        <div class="chart" id="columnchart_material2"></div>
    </div>

        <script type="text/javascript">
            google.charts.load('current', {'packages': ['bar']});
            google.charts.setOnLoadCallback(drawCharts);

            function drawCharts() {
                // Función para dibujar el primer gráfico
                function drawChart1(apiData) {
                    var data1 = google.visualization.arrayToDataTable([
                        ['Elementos de perfil emprendedor', 'Antes', 'Después'],
                        ['Autocontrol', apiData.autocontrol.before, apiData.autocontrol.after],
                        ['Liderazgo', apiData.leadership.before, apiData.leadership.after],
                        ['Conciencia y valor social', apiData.conscience_and_social_value.before, apiData.conscience_and_social_value.after],
                        ['Innovación social y sostenibilidad financiera', apiData.social_innovation_and_financial_sustainability.before, apiData.social_innovation_and_financial_sustainability.after]
                    ]);

                    var options1 = {
                        title: 'Perfil emprendedor (Antes vs. Después)',  
                        subtitle: 'Comparativa de autopercepción',       
                        titleTextStyle: {color: 'white'},
                        backgroundColor: 'black',
                        chartArea: {backgroundColor: 'black'},
                        legend: {textStyle: {color: 'white'}},
                        hAxis: {color: 'white', 
                                titleTextStyle: {color: 'white'},
                                textStyle: {color: 'white'}},
                        vAxis: {color: 'white',
                                title: 'Puntaje obtenido',
                                titleTextStyle: {color: 'white'},
                                textStyle: {color: 'white'}},
                    };

                    var chart1 = new google.charts.Bar(document.getElementById('columnchart_material1'));
                    chart1.draw(data1, google.charts.Bar.convertOptions(options1));
                }

                // Función para dibujar el segundo gráfico
                function drawChart2(apiData) {
                    var data2 = google.visualization.arrayToDataTable([
                        ['Tipo de pensamiento', 'Antes', 'Después'],
                        ['Sistémico', apiData.systemic_thinking.before, apiData.systemic_thinking.after],
                        ['Científico', apiData.scientific_thinking.before, apiData.scientific_thinking.after],
                        ['Crítico', apiData.critical_thinking.before, apiData.critical_thinking.after],
                        ['Innovador', apiData.innovative_thinking.before, apiData.innovative_thinking.after]
                    ]);

                    var options2 = {
                        title: 'Pensamiento complejo (Antes vs. Después)',
                        subtitle: 'Comparativa del nivel de percepción de logro',
                        titleTextStyle: {color: 'white'},
                        backgroundColor: 'black',
                        chartArea: {backgroundColor: 'black'},
                        legend: {textStyle: {color: 'white'}},
                        hAxis: {color: 'white', 
                                titleTextStyle: {color: 'white'},
                                textStyle: {color: 'white'}},
                        vAxis: {color: 'white',
                                title: 'Puntaje obtenido',
                                titleTextStyle: {color: 'white'},
                                textStyle: {color: 'white'}}
                    };

                    var chart2 = new google.charts.Bar(document.getElementById('columnchart_material2'));

                    chart2.draw(data2, google.charts.Bar.convertOptions(options2));
                }

                // Hacer solicitudes AJAX para obtener datos de las APIs
                $.ajax({
                    url: '/api/graph-social/', // Cambia esto a la URL correcta de tu primera API
                    method: 'GET',
                    dataType: 'json',
                    success: function (apiData) {
                        drawChart1(apiData);
                    },
                    error: function (error) {
                        console.error('Error al cargar datos desde la API 1:', error);
                    }
                });

                $.ajax({
                    url: '/api/graph-thinking/', // Cambia esto a la URL correcta de tu segunda API
                    method: 'GET',
                    dataType: 'json',
                    success: function (apiData) {
                        drawChart2(apiData);
                    },
                    error: function (error) {
                        console.error('Error al cargar datos desde la API 2:', error);
                    }
                });
            }
    </script>
</body>
</html>