<!DOCTYPE html>
<html lang="es">

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/iniciarsesion.css' %}">
  <title>Inicia Sesión</title>
</head>

<body>
  <header>
    <div class="logo">
      <img src="{% static 'images/SEL4C.png' %}" alt="Logo del Sitio">
      <h1>SEL4C</h1>
    </div>
    <div class="buttons">
      <a href="{% url 'index' %}" class="btn">INICIO</a>
      <a href="{% url 'contacto' %}" class="btn">CONTACTO</a>
    </div>
    <div class="login-btn">
        <a href="" class="btn">INICIAR SESION</a>
      </div>
  </header>

  <!-- Resto del contenido de la página -->

    <div class="login1">
        <div class="login-screen">
            <div class="app-title">
                <h1>INICIAR SESION</h1>
            </div>

            <form class="login-form" action = "{% url 'login' %}" method = "post">
                {% csrf_token %}
                <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="e-mail" name = "username" id="login-name">
                </div>
                <div class="control-group">
                    <input type="password" class="login-field" value="" placeholder="password" name = "password" id="login-pass">
                </div>
                <button class="btn2 btn-primary btn-large btn-block" type = "submit">ENVIAR</a>
            </form>

        </div>
    </div>

  <div class="leyenda">
    2023 - Tec de Monterrey - Política de Privacidad
</body>
</html>