<!DOCTYPE html>
<html lang="es">

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/menuadmin.css' %}">
  <title>Admin</title>
</head>

<body>
  <header>
    <div class="logo">
      <img src="{% static 'images/SEL4C.png' %}" alt="Logo del Sitio">
      <h1>SEL4C</h1>
    </div>
    <div class="buttons">
      <a href="{% url 'index' %}" class="btn">INICIO</a>
      <a href="{% url 'estadisticas' %}" class="btn">ESTADISTICAS</a>
      <a href="{% url 'usuarios' %}" class="btn">ADMINISTRACION</a>
    </div>
    <div class="login-btn">
      <a href="{% url 'logout' %}" class="btn">CERRAR SESION</a>
    </div>
  </header>

  <!-- Resto del contenido de la página -->
  <div class="container-left">
    <h1 class="texto-grande">Importancia de Generar Valor Social</h1>
    <p class="texto-small">Contribuir con la innovación educativa para el emprendimiento social y el pensamiento complejo, para promover el aprendizaje adaptativo a las necesidades de los estudiantes.</p>
  </div>

  <div class="container-right">
    <img class="imagen" src="{% static 'images/telephone.png' %}" alt="Foto Celular">
  </div>


  <div class="leyenda">
    2023 - Tec de Monterrey - Política de Privacidad
</body>
</html>